### What is pandas?

pandas is a Python library used for data manipulation and analysis that buil on top of the Python programming language.

### What is Pandas used for?
#### Data cleaning
#### Data Transformation

### Installation of pandas

#### Series and DataFrame

### Download data in CSV and Shapefile format

[Data Source: The city of Worcester](https://opendata.worcesterma.gov/search?collection=dataset&sort=Date%20Updated%7Cmodified%7Cdesc)

Search: Worcester Police Use of Force Incidents (July 2024)

Download CSV and Shapefile

### Loading a Pandas DataFrame from CSV file

In [2]:
import pandas as pd

In [4]:
## use the dir() function to list all the attributes (include functions) in python
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

#### read csv

In [7]:
incidents = pd.read_csv(r'M:\Github_repo\ssj-302\docs\Data\Worcester_Police_Use_of_Force_Incidents_July_2024.csv')
incidents.head()

,Incident_No,Date___Time,Location,Officer,Narr,Implement,Injury,Supervisor,Notified,ObjectId
0,2024000078279,7/29/24 1:09 PM,"9 LINCOLN SQ Worcester, MA",Daniel Adjei,1,R. Empty Hand Compliance Techniques / Level 3,Visible Injury,Neil F O'Connor,7/29/24 4:27 PM,1
1,2024000078796,7/30/24 4:38 PM,"6 SHANNON ST Apt #: 2 Worcester, MA",Rachel E Frisch,3,R. Empty Hand Compliance Techniques / Level 3,_None,Michael A Cappabianca Jr,7/30/24 6:57 PM,2
2,2024000078796,7/30/24 4:38 PM,"6 SHANNON ST Apt #: 2 Worcester, MA",Michael Genese,2,R. Empty Hand Compliance Techniques / Level 3,_None,Michael A Cappabianca Jr,7/30/24 6:55 PM,3
3,2024000078953,7/30/24 9:50 PM,"79 MAYFIELD ST Worcester, MA",David Green,3,I. Display of Firearm,_None,Stephen L Roche,7/30/24 10:26 PM,4
4,2024000079115,7/31/24 11:05 AM,"70 JACKSON ST Worcester, MA",DUY CHAU,6,I. Display of Firearm,_None,Shawn M Barbale,7/31/24 1:20 PM,5

In [ ]:
incidents.columns
incidents.index

#### restrict the list of columns or rows in the output DataFrame using iloc()
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column.

In [18]:
incidents.iloc[0:5,0:3]

RangeIndex(start=0, stop=74, step=1)

#### restrict the list of columns or rows in the output DataFrame using loc()
The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select.

In [17]:
incidents.loc[0:5,['Incident_No', 'Date___Time', 'Location']]

     Incident_No       Date___Time                              Location
0  2024000078279   7/29/24 1:09 PM           9 LINCOLN SQ Worcester, MA
1  2024000078796   7/30/24 4:38 PM  6 SHANNON ST Apt #: 2 Worcester, MA
2  2024000078796   7/30/24 4:38 PM  6 SHANNON ST Apt #: 2 Worcester, MA
3  2024000078953   7/30/24 9:50 PM         79 MAYFIELD ST Worcester, MA
4  2024000079115  7/31/24 11:05 AM          70 JACKSON ST Worcester, MA
5  2024000079115  7/31/24 11:05 AM          70 JACKSON ST Worcester, MA

### DataFrame Manipulation
#### Data filtering

#### Data sorting

### Summary statistics and grouping

### Spatially Enabled Data Frame

#### SEDF from a feature class