### What is pandas?

pandas is a Python library used for data manipulation and analysis that buil on top of the Python programming language.

### What is Pandas used for?
#### Data cleaning
#### Data Transformation

### Installation of pandas

#### Series and DataFrame

### Download data in CSV and Shapefile format

[Data Source: The city of Worcester](https://opendata.worcesterma.gov/search?collection=dataset&sort=Date%20Updated%7Cmodified%7Cdesc)

Search: Worcester Police Use of Force Incidents (July 2024)

Download CSV and Shapefile

### Loading a Pandas DataFrame from CSV file

In [3]:
import pandas as pd

In [4]:
## use the dir() function to list all the attributes (include functions) in python
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_built_with_meson', '_config', '_is_numpy_dev', '_libs', '_pandas_datetime_CAPI', '_pandas_parser_CAPI', '_testing', '_typing', '_version_meson', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

#### read csv

In [11]:
incidents = pd.read_csv(r'D:\Teaching_Data\Worcester_Police_Use_of_Force_Incidents_July_2024.csv')
incidents.head()

,Incident_No,Date___Time,Location,Officer,Narr,Implement,Injury,Supervisor,Notified,ObjectId
0,2024000078279,7/29/24 1:09 PM,"9 LINCOLN SQ Worcester, MA",Daniel Adjei,1,R. Empty Hand Compliance Techniques / Level 3,Visible Injury,Neil F O'Connor,7/29/24 4:27 PM,1
1,2024000078796,7/30/24 4:38 PM,"6 SHANNON ST Apt #: 2 Worcester, MA",Rachel E Frisch,3,R. Empty Hand Compliance Techniques / Level 3,_None,Michael A Cappabianca Jr,7/30/24 6:57 PM,2
2,2024000078796,7/30/24 4:38 PM,"6 SHANNON ST Apt #: 2 Worcester, MA",Michael Genese,2,R. Empty Hand Compliance Techniques / Level 3,_None,Michael A Cappabianca Jr,7/30/24 6:55 PM,3
3,2024000078953,7/30/24 9:50 PM,"79 MAYFIELD ST Worcester, MA",David Green,3,I. Display of Firearm,_None,Stephen L Roche,7/30/24 10:26 PM,4
4,2024000079115,7/31/24 11:05 AM,"70 JACKSON ST Worcester, MA",DUY CHAU,6,I. Display of Firearm,_None,Shawn M Barbale,7/31/24 1:20 PM,5

In [5]:
incidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Incident_No  74 non-null     int64
 1   Date___Time  74 non-null     object
 2   Location     74 non-null     object
 3   Officer      74 non-null     object
 4   Narr         74 non-null     int64
 5   Implement    74 non-null     object
 6   Injury       74 non-null     object
 7   Supervisor   74 non-null     object
 8   Notified     74 non-null     object
 9   ObjectId     74 non-null     int64
dtypes: int64(3), object(7)
memory usage: 5.9+ KB

In [6]:
incidents.shape

(74, 10)

#### restrict the list of columns or rows in the output DataFrame using iloc()
The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column.

In [18]:
incidents.iloc[0:5,0:3]

RangeIndex(start=0, stop=74, step=1)

#### restrict the list of columns or rows in the output DataFrame using loc()
The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select.

In [17]:
incidents.loc[0:5,['Incident_No', 'Date___Time', 'Location']]

     Incident_No       Date___Time                              Location
0  2024000078279   7/29/24 1:09 PM           9 LINCOLN SQ Worcester, MA
1  2024000078796   7/30/24 4:38 PM  6 SHANNON ST Apt #: 2 Worcester, MA
2  2024000078796   7/30/24 4:38 PM  6 SHANNON ST Apt #: 2 Worcester, MA
3  2024000078953   7/30/24 9:50 PM         79 MAYFIELD ST Worcester, MA
4  2024000079115  7/31/24 11:05 AM          70 JACKSON ST Worcester, MA
5  2024000079115  7/31/24 11:05 AM          70 JACKSON ST Worcester, MA

### Exercise 1: Get record from DataFrame
Get the

### Data cleaning
Rename the column name

In [12]:
#format of columns can be the dictionary: old column name: new column name
print('{} column name are'.format(incidents.columns))
incidents.rename(columns={'Date___Time':'DateTime', 'Incident_No':"IncidentNo"}, inplace=True)
print('{} updated column name are'.format(incidents.columns))

Index(['Incident_No', 'Date___Time', 'Location', 'Officer', 'Narr',
       'Implement', 'Injury', 'Supervisor', 'Notified', 'ObjectId'],
      dtype='object') column name are
Index(['IncidentNo', 'DateTime', 'Location', 'Officer', 'Narr', 'Implement',
       'Injury', 'Supervisor', 'Notified', 'ObjectId'],
      dtype='object') updated column name are

### DataFrame Manipulation
#### Data sorting

In [13]:
incidents.sort_values(by="Narr", ascending=False).head()

,IncidentNo,DateTime,Location,Officer,Narr,Implement,Injury,Supervisor,Notified,ObjectId
24,2024000067866,7/6/24 12:33 AM,"466 HARDING ST Worcester, MA",Santino Simone,12,G. Display of Taser or Sparks Display,_None,Terrence G Cahill,8/18/24 12:39 AM,25
55,2024000074652,7/20/24 11:52 PM,"3 JEFFERSON ST Worcester, MA",Tyler R Sterner,10,G. Display of Taser or Sparks Display,_None,Michael A Cappabianca Jr,7/24/24 9:23 PM,56
47,2024000072086,7/15/24 10:27 AM,"442 GRAFTON ST Worcester, MA",Dimitrios Gaitanidis,9,I. Display of Firearm,_None,Jeffrey P Carlson,7/15/24 1:05 PM,48
48,2024000072443,7/16/24 6:23 AM,"5 TOWNSEND ST Apt #: 2 Worcester, MA",Terrence O Gaffney,9,I. Display of Firearm,_None,Terrence G Cahill,7/16/24 7:41 PM,49
43,2024000072086,7/15/24 10:27 AM,"442 GRAFTON ST Worcester, MA",Jose M Lugo-Gardner,8,I. Display of Firearm,_None,Shawn M Barbale,7/15/24 2:01 PM,44

#### Data query:single condition

In [18]:
unique_injury = incidents.loc[:,"Injury"].unique()
print('unique value: {}'.format(unique_injury))

none_incident = incidents.query('Injury == "_None"')

unique value: ['Visible Injury' '_None' 'Complaint of Injury']

In [20]:
none_incident.shape

(68, 10)

Exercise : How many incidents' injury type are 'Visible Injury'

In [22]:
incidents.query('Injury == "Visible Injury"').shape

(5, 10)

#### Data query: multiple condition
Query how many incidents's injury type are '_None' and 'Implement' are 'I. Display of Firearm'

In [24]:
none_firearm = incidents.query('Injury == "_None" & Implement == "I. Display of Firearm"')
none_firearm.shape

(33, 10)

### DateTime

In [32]:
incidents['DateTime']

0      7/29/24 1:09 PM
1      7/30/24 4:38 PM
2      7/30/24 4:38 PM
3      7/30/24 9:50 PM
4     7/31/24 11:05 AM
            ...
69    7/27/24 12:43 AM
70    7/29/24 11:41 AM
71    7/29/24 11:41 AM
72     7/29/24 1:09 PM
73     7/29/24 1:09 PM
Name: DateTime, Length: 74, dtype: object

In [34]:
incidents['DT'] = pd.to_datetime(incidents['DateTime'], format = "%m/%d/%y %I:%M %p")

In [41]:
# sort value absed on 'DateTime' or 'DT' to see the difference
incidents.sort_values(by='DT', ascending=True).head()

,IncidentNo,DateTime,Location,Officer,Narr,Implement,Injury,Supervisor,Notified,ObjectId,DT
7,2024000065816,7/1/24 9:46 AM,"25 QUEEN ST Worcester, MA",Joseph L Ford,1,R. Empty Hand Compliance Techniques / Level 3,_None,Justin Bennes,7/1/24 4:00 PM,8,2024-07-01 09:46:00
9,2024000066207,7/2/24 10:11 AM,"275 PLEASANT ST Apt #: 713 Worcester, MA",John Biancaniello,1,G. Display of Taser or Sparks Display,_None,MIGUEL DIAZ,7/2/24 11:45 AM,10,2024-07-02 10:11:00
8,2024000066207,7/2/24 10:11 AM,"275 PLEASANT ST Apt #: 713 Worcester, MA",David C McAtee,2,I. Display of Firearm,_None,MIGUEL DIAZ,7/2/24 12:11 PM,9,2024-07-02 10:11:00
10,2024000066256,7/2/24 12:02 PM,"25 TOBIAS BOLAND WAY Worcester, MA",James P Ciru,1,R. Empty Hand Compliance Techniques / Level 3,_None,Jeffrey P Carlson,7/2/24 1:04 PM,11,2024-07-02 12:02:00
11,2024000066380,7/2/24 5:16 PM,"810 MAIN ST Worcester, MA",Stephen J Mitchell,2,R. Empty Hand Compliance Techniques / Level 3,_None,Christopher A Panarello,7/2/24 5:11 PM,12,2024-07-02 17:16:00

### Summary statistics and grouping

### Spatially Enabled Data Frame

#### SEDF from a feature class