<a href="https://colab.research.google.com/github/gisynw/ssj-302/blob/main/docs/DLectures/Week02PyFdMetal.ipynb" target="_blank">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" style="height: 30px;"/>
</a>
&nbsp &nbsp
<a href="./Week02PyFdMetal.ipynb" target="_blank"> 
  <img src="https://img.icons8.com/?size=100&id=108635&format=png&color=000000" alt="Download" style="height: 40px;"/>
 </a>

## Python Fundamental
#### Author: Yanan Wu ; Date: August, 2024
* * *

<a id='Var'></a>
### 1. Variables
Variable in Python store data values

`print()` is a built-in function in python

In [35]:
x = 'summer'
print(x)

summer

### 2. Data Types
#### 3. Integer
we can use the **built-in** `type()` **function** to identify the type of variable

In [1]:
a = 3
type(3)

int

#### 4. float

In [42]:
c = 6.3
type(c)

float

### 4. Strings
Strings in python are surrounded by either double quotation marks, or single quotation marks

In [32]:
print("Hello")
print('Hello')

Hello
Hello

In [3]:
print("It's an apple")
print("She is called 'Alisa'")
type('He is called "Alisa"')

It's an apple
She is called 'Alisa'

str

A number with quotation or without quotation is different

In [7]:
num = 3
str_3 = '3'
print(type(num))
print(type(str_3))

<class 'int'>
<class 'str'>

#### 5.1 Slicing strings

In [60]:
# Slicing: Return a range of characters by using the slice syntax
x = "Clark is pretty good"
print(len(x))
print(x[1:3])

20
la

In [8]:
# Slice from the start
b = "Hello, Python!"
print(b[:5])

# Slice to the end
print(b[2:])

# Negative indexing
print(b[-5:-2])

Hello
llo, Python!
tho

<h3 style="text-align: center;">Exercise 1: Get the characters from string</h3>
1. Get the character that index is 0 in x = "Clark is pretty good"

#### Methods for String
A **method** is a special type of function, it allow you to do different things with different objects.

We can use methods through **dot notation**: `variable.method()`

In [19]:
names = "Clark"
u_names = names.upper()
print(u_names)

CLARK

<h3 style="text-align: center;">Exercise 2: Try methods for String</h3>

1. get lowercase of string **names = "Clark'** use `lower()`

[Python-String methods](https://www.w3schools.com/python/python_strings_methods.asp)

### ðŸ’¡ Tip: Guidelines for Variables
- Python is case-sensitive (`apple` and `Apple` are two separate variables).
- Use meaningful variable names (e.g. `university` is clearer than `a_string`). Ideally, you code and variable names should be meaningful.
- Avoid using variable names that conflict with existing python functions or keywords (e.g., `print`, `type`).

#### 5.2 String Concatenation

In [53]:
a = "Level"
b = "Up"
c = a + b
print(c)
d = a + ' ' + b
print(d)

LevelUp
Level Up

#### 5.3 Combine of string and number

In [9]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

<h3 style="text-align: center;">Exercise 3: Type conversion</h3>

1. We have used built-in function like `print()` and `type()` to do task, this time we use `str()` to convert a value to string 
2. Use `str()` function to remove the error

In [57]:
# F-Strings
age = 5
txt = f"I have lived here for {age} years"
print(txt)

I have lived here for 5 years

### 6. Boolean
- The expression in Python is True and False

In [61]:
print(5 > 3)

True

- Most Values are True

In [64]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

- Empty values are False

In [65]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))

False
False
False
False
False

### 7. List

In [13]:
myclass = ['python', 'statistics', 'mapping', 'mapping']
print(myclass)
print(len(myclass))

['python', 'statistics', 'mapping', 'mapping']
4

In [ ]:
mynote = ["python", 10, True, 'mapping', 23]

#### 7.1 Change list items

In [66]:
grocery_shops = ["Whole Foods", "Trader Joe's", "Stop & stop", "Kroger"]
grocery_shops[1] = "Wegmans"

<h3 style="text-align: center;">Exercise 4: Try method for list</h3>

1. Append **kroger** to list **grocery_shops = ["Whole Foods", "Trader Joe's"]** use `append()`

### 8 Dictionaries
- Dictionaries store data value in key:value pairs
- Access value using the key
- Dictionaries cannot have two items with the same key:

In [15]:
university = {
  "name": "clark",
  "location": 'MA',
  "location": "worcester",
  "year": 1887,
  'major': ['GIS', 'sociology', 'computer science']
}
 
print(university['name'])
print(university['major'])
print(university)

clark
{'name': 'clark', 'location': 'worcester', 'year': 1887}

#### Adding items

In [17]:
university['room'] = 'BP310'
print(university)

{'name': 'clark', 'location': 'worcester', 'year': 1887, 'room': 'BP310'}

#### Methods for dictionaries

In [ ]:
university = {
  "name": "clark",
  "location": "worcester",
  "year": 1887
}

In [23]:
### Get keys
key_un = university.keys()
key_un

dict_keys(['name', 'location', 'year', 'room'])

<h3 style="text-align: center;">Exercise 5: Try methods for Dictionaries</h3>

1. Use `values()`, `items()` to get value and item