# Chapter 3: Tuples, Lists, and Dictionaries

In this chapter, we will explore three fundamental data structures in Python: `Tuples`, `Lists`, and `Dictionaries`. Understanding these structures is crucial for data organization, storage, and manipulation in Python programming.

## 1. Tuples

Tuples are **immutable** sequences, typically used to store collections of **heterogeneous** data. Tuples are defined by enclosing the elements in parentheses `()`.

### 1.1 Creating a Tuple

To create a tuple, you simply list the values within parentheses, separated by commas.

In [1]:
# A tuple of integers
my_tuple = (1, 2, 3)

# A tuple with mixed data types
mixed_tuple = ("Hello", 100, 1.5)

### 1.2 Accessing Tuple Elements using index

You can access elements of a tuple by using indexing, with the first element at index 0.

In [2]:
print(my_tuple[0])  # Output: 1
print(mixed_tuple[1])  # Output: 100

1
100

### 1.3 Sublist (equal to `slice()`)

In [4]:
a_tuple = ('crazyit',20,5.6,'fkit',-17)
print(a_tuple[-3:-1])
print(a_tuple[1:-2])
print(a_tuple[::-1])

(5.6, 'fkit')
(20, 5.6)
(-17, 'fkit', 5.6, 20, 'crazyit')

## 2. Lists

Lists are **mutable** sequences, **typically** used to store collections of **homogeneous** items. Lists are defined by enclosing the elements in square brackets `[]`.

### 2.1 Creating a List

To create a list, you place all the items inside square brackets, separated by commas.

In [10]:
# A list of integers
my_list = [1, 2, 3, 4]
print(my_list)
# Adding elements to a list
my_list.append(5)  # my_list is now [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

Python lists are also not type-restricted

In [13]:
my_list = [1,2,3,'a']
print(my_list)

my_list = [42, "hello", 3.14, [1, 2, 3], {'key': 'value'}, True]

print(my_list)

[1, 2, 3, 'a']
[42, 'hello', 3.14, [1, 2, 3], {'key': 'value'}, True]

### 2.2 Add elements to list

- `append()`: Adds a single element to the end of the list.
  - `my_list.append(element)`
- `extend()`: Adds elements from an **iterable** (e.g., `list`, `tuple`, `string`) to the end of the list.
  - `my_list.extend([element1, element2])`
- `insert()`: Inserts a given element at a specified position in the list.
  - `my_list.insert(index, element)`

In [21]:
a_list = ['crazyit',20,-2]
a_list.append('fkit')
print(a_list)

['crazyit', 20, -2, 'fkit']

In [23]:
a_list.append(['a','b'])
print(a_list)
a_list.append(('a','b'))
print(a_list)

['crazyit', 20, -2, 'fkit', ['a', 'b'], ['a', 'b']]
['crazyit', 20, -2, 'fkit', ['a', 'b'], ['a', 'b'], ('a', 'b')]

In [26]:
b_list = ['a',30]
b_list.extend((-2,3.1))
print(b_list)

b_list = ['a',30]
b_list =  b_list + [-2,3.1]
print(b_list)

['a', 30, -2, 3.1]
['a', 30, -2, 3.1]

In [27]:
b_list = ['a',30]
b_list =  b_list + (-2,3.1)
print(b_list)

TypeError: can only concatenate list (not "tuple") to list

In [28]:
c_list = list(range(1,6))
print(c_list)
c_list.insert(3,'CRAZY')
print(c_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 'CRAZY', 4, 5]

In [29]:
c_list.insert(3,tuple('crazy'))
print(c_list)

[1, 2, 3, ('c', 'r', 'a', 'z', 'y'), 'CRAZY', 4, 5]

### 2.3 Remove elements from List

`del statement`: This is not a function but a Python statement. It removes an item at a **specific index** or **slices** of elements from the list. It can also delete the list entirely.

In [30]:
my_list = ['a', 'b', 'c', 'd']
del my_list[1]  # Removes 'b'
# Result: ['a', 'c', 'd']
print(my_list)

['a', 'c', 'd']

`remove()` method: Removes the **first occurrence** of a value without needing to know its index. If the item is not found, it raises a `ValueError`.

In [31]:
my_list = ['apple', 'banana', 'cherry']
my_list.remove('banana')  # Removes 'banana'
# Result: ['apple', 'cherry']
print(my_list)

['apple', 'cherry']

`pop()` method: Removes and **returns** an item at a given index (default is the last item). Without an argument, it removes the last item in the list.

In [32]:
my_list = [10, 20, 30, 40, 50]
removed_item = my_list.pop(2)  # Removes 30
# Result: [10, 20, 40, 50], removed_item = 30
print(my_list)

[10, 20, 40, 50]

`clear()` method: Empties the list, removing all items. The list remains, but it will have no content.

In [33]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()  # Clears the list
print(my_list)

[]

### 2.4 Other Popular Methods

- `count()`: Return number of occurrences of value.
- `index()`: Return first index of value.
- `pop()`: Remove and return item at index (default last). [Using list as Stack]
- `reverse()`: Reverse the elements in a list
- `sort()`: Sort the elements in a list

In [34]:
a_list = [2,30,'a',[5,30],30]
print(a_list.count(30))
print(a_list.count([5,30]))

2
1

In [35]:
a_list = [2,30,'a','b','crazyit',30]
print(a_list.index(30))

1

Search start from index 2

In [36]:
print(a_list.index(30,2))

5

In [37]:
print(a_list.index(30,2,4))

ValueError: 30 is not in list

Search start of index from 2 to 4

In [38]:
a_list = list(range(1,8))
a_list.reverse()
print(a_list)

[7, 6, 5, 4, 3, 2, 1]

In [39]:
a_list = [3,4,-2,-30,14,9.3,3.4]
a_list.sort()
print(a_list)

[-30, -2, 3, 3.4, 4, 9.3, 14]

In [40]:
b_list = ['Python','Swift','Ruby','Go','Kotlin','Erlang']
b_list.sort()
print(b_list)

['Erlang', 'Go', 'Kotlin', 'Python', 'Ruby', 'Swift']

Sort by given key func

In [42]:
b_list.sort(key = len)
print(b_list)
b_list.sort(key = len, reverse= True)
b_list

['Go', 'Ruby', 'Swift', 'Erlang', 'Kotlin', 'Python']

['Erlang', 'Kotlin', 'Python', 'Swift', 'Ruby', 'Go']

## 3. Shared property / methods of Tuple and List

### 3.1 Addition

In [5]:
a_tuple = ('crazyit',20,-1.2)
b_tuple = (127,'crazyit','fkit',3.33)
sum_tuple = a_tuple + b_tuple
print(sum_tuple)
print(a_tuple)
print(b_tuple)

('crazyit', 20, -1.2, 127, 'crazyit', 'fkit', 3.33)
('crazyit', 20, -1.2)
(127, 'crazyit', 'fkit', 3.33)

In [6]:
print(a_tuple + (-20,-30))

('crazyit', 20, -1.2, -20, -30)

In [14]:
a_list = [20,30,50,100]
b_list = ['a','b','c']
sum_list = a_list + b_list
print(sum_list)
print(a_list + ['fkit'])

[20, 30, 50, 100, 'a', 'b', 'c']
[20, 30, 50, 100, 'fkit']

### 3.2 Multiply

In [7]:
mul_tuple = a_tuple * 3
print(mul_tuple)

('crazyit', 20, -1.2, 'crazyit', 20, -1.2, 'crazyit', 20, -1.2)

In [15]:
a_list = [30,'Python',2]
mul_list = a_list * 3
print(mul_list)

[30, 'Python', 2, 30, 'Python', 2, 30, 'Python', 2]

Example for adding ending of date

In [16]:
order_endings = ('st','nd','rd')\
    + ('th',) * 17 + ('st','nd','rd')\
    + ('th',) * 7 + ('st',)
print(order_endings)

('st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th', 'th', 'st')

In [17]:
day = input("please enter a date(1-31)")
day_int = int(day)
print(day + order_endings[day_int -1])

28th

### 3.3 Query elements use `in`

In [18]:
a_tuple = ('crazyit',20,-1.2)
print(20 in a_tuple)
print(1.2 in a_tuple)
print('fkit' not in a_tuple)

True
False
True

### 3.4 Statistics

- `len()`
- `max()`
- `min()`

In [19]:
a_tuple = (20,10,-2,15.2,102,50)
print(max(a_tuple))
print(min(a_tuple))
print(len(a_tuple))

102
-2
6

In [20]:
b_list = ['crazyit','fkit','Python','Kotlin']
print(max(b_list))
print(min(b_list))
print(len(b_list))

fkit
Kotlin
4

## 4. Dictionaries

Dictionaries are mutable data types that store mappings of unique keys to values. Dictionaries are defined by enclosing key-value pairs in curly braces `{}`

### 4.1 Creating a Dictionary

To create a dictionary, you use curly braces with key-value pairs separated by colons.

In [44]:
# A simple dictionary
my_dict = {"name": "Alice", "age": 25}
print(my_dict)

# Adding a new key-value pair
my_dict["city"] = "New York"  # my_dict now includes "city": "New York"
print(my_dict)

{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 25, 'city': 'New York'}

Key could be tuple but not list!

In [46]:
dict2 = {(20,30):'good',30:'bad'}
print(dict2)
# dict2 = {[20,30]:'good',30:'bad'}
# print(dict2)

{(20, 30): 'good', 30: 'bad'}

Transfer List to Dictionary

In [47]:
vegetables = [('celery',1.58),('brocoli',1.29),('lettuce',2.19)]
dict3 = dict(vegetables)
print(dict3)

{'celery': 1.58, 'brocoli': 1.29, 'lettuce': 2.19}

In [48]:
cars = [['BMW',8.5],['BENS',8.3],['AUDI',7.9]]
dict4 = dict(cars)
print(dict4)

{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9}

### 4.2 Basic Usage of Dictionary

- Use key to `access` value
- Use key to `add` key-value record
- Use key to `delete` key-value record
- Use key to `modify` key-value record
- Use key to `search` key-value

In [49]:
scores = {'literature':89, 'Math': 92, 'English': 93}
print(scores['Math'])

92

In [50]:
del scores['English']
print(scores)

{'literature': 89, 'Math': 92}

In [51]:
print('literature' in scores)
print('gym' not in scores)

True
True

### 4.3 Useful functions

`clear()`

In [52]:
cars

[['BMW', 8.5], ['BENS', 8.3], ['AUDI', 7.9]]

In [53]:
cars.clear()
print(cars)

[]

`get()`: get values based on key

In [54]:
print(scores.get('Math'))
print(scores.get('gym'))

92
None

`update()`

In [55]:
print(scores)
scores.update({'History':89, 'English':91})
print(scores)

{'literature': 89, 'Math': 92}
{'literature': 89, 'Math': 92, 'History': 89, 'English': 91}

- `items()`: get all key-value record
- `keys()`: get all keys
- `values()`: get all values

In [56]:
subjects = scores.items()
print(subjects)
print(type(subjects))

dict_items([('literature', 89), ('Math', 92), ('History', 89), ('English', 91)])
<class 'dict_items'>

In [57]:
kys = scores.keys()
print(type(kys))
print(kys)

<class 'dict_keys'>
dict_keys(['literature', 'Math', 'History', 'English'])

In [58]:
vals = scores.values()
print(type(vals))
print(vals)

<class 'dict_values'>
dict_values([89, 92, 89, 91])

`pop()` and `popitem()`

In [59]:
print(scores)
print(scores.pop('English'))
print(scores)

{'literature': 89, 'Math': 92, 'History': 89, 'English': 91}
91
{'literature': 89, 'Math': 92, 'History': 89}

In [60]:
print(scores.popitem())
print(scores)

('History', 89)
{'literature': 89, 'Math': 92}

In [61]:
k,v = scores.popitem()
print(k,v)

Math 92

### 4.3 setdefault() and fromkeys()

- `setdefault()` Return the value of given key, if given key not exist in the origin dictionary, would return the given value.
- `fromkeys() `Create dictionary from given list, using the elements from list as keys

In [62]:
cars = {'BMW':8.5, 'BENS':8.3, 'AUDI':7.9}
print(cars.setdefault('PORSCHE',9.2))
print(cars)

9.2
{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9, 'PORSCHE': 9.2}

In [63]:
print(cars.setdefault('BENS',5.2))
print(cars)

8.3
{'BMW': 8.5, 'BENS': 8.3, 'AUDI': 7.9, 'PORSCHE': 9.2}

In [64]:
a_dict = dict.fromkeys(['a','b'])
print(a_dict)

{'a': None, 'b': None}

In [65]:
b_dict = dict.fromkeys((13,17))
print(b_dict)

{13: None, 17: None}

In [66]:
c_dict = dict.fromkeys((13,17),'good')
print(c_dict)

{13: 'good', 17: 'good'}

### 4.4 Using dictionary to format string

In [67]:
temp = 'book name is %(name)s, price is %(price)06.2f, published by %(publish)s'
book = {'name':'Crazy Python','price':78.9,'publish':'who cares'}
print(temp % book)

book name is Crazy Python, price is 078.90, published by who cares

In [68]:
book = {'name':'Crazy JAVA','price':88.9,'publish':'I do not know'}
print(temp % book)

book name is Crazy JAVA, price is 088.90, published by I do not know